# macOS
.DS_Store

# Backups
backups/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependencies
node_modules/
miniprogram_npm/

# Others
.superpowers/

# Sensitive data
cookie.json
.env
.env.*
!/.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Output files
*.csv
*.json
!package.json
!package-lock.json
